@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Hanken Grotesk', sans-serif !important;
}

.header{
    width: 100vw;
    height: 22.25rem;
    background: linear-gradient(to bottom, #6943FF, #2F2CE9);
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1{
    margin-top: 1.5rem;
    color: #CAC9FF;
    font-size: 1.125rem;
    font-weight: 700;
}

.header > div{
    background: linear-gradient(to bottom, #4D21C9, rgba(46, 43, 232, 0));
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.header > div p:first-child{
    color: white;
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 800;
}

.header > div p:last-child{
    color: #CAC9FF;
    font-size: 1.125rem;
    font-weight: 700;
}

.header > p:first-of-type{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.header > p:last-of-type{
    color: #CAC9FF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    margin-top: .5rem;
    max-width: 16.25rem;
    text-align: center;
}

.content{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.content > div{
    width: 84%;
}

.content > div > h2{
    color: #303B59;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.content > div > div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.content > div > div > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    border-radius: .75rem;
}

.content > div > div > div:nth-child(1){
    background-color: rgba(255, 85, 85, 0.05);
}

.content > div > div > div:nth-child(2){
    background-color: rgba(255, 178, 30, 0.05);
}

.content > div > div > div:nth-child(3){
    background-color: rgba(0, 187, 143, 0.05);
}

.content > div > div > div:nth-child(4){
    background-color: rgba(17, 37, 214, 0.05);
}

.content > div > div > div > div:first-child{
    display: flex;
    gap: .75rem;
    margin-left: 1rem;
    align-items: center;
}

.content > div > div > div:nth-child(1) > div div{
    background-image: url(../icons/flash.svg);
    width: 1.25rem;
    height:1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.content > div > div > div:nth-child(2) > div div{
    background-image: url(../icons/brain.svg);
    width: 1.25rem;
    height:1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.content > div > div > div:nth-child(3) > div div{
    background-image: url(../icons/chat-remove.svg);
    width: 1.25rem;
    height:1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.content > div > div > div:nth-child(4) > div div{
    background-image: url(../icons/eye-empty.svg);
    width: 1.25rem;
    height:1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.content > div > div > div:nth-child(1) > div p{
    color: #ff5555;
}

.content > div > div > div:nth-child(2) > div p{
    color: #ffb21e;
}

.content > div > div > div:nth-child(3) > div p{
    color: #00bb8f;
}

.content > div > div > div:nth-child(4) > div p{
    color: #1125d6;
}

.content > div > div > div > div:last-child{
    display: flex;
    gap: .75rem;
    margin-right: 1rem;
    align-items: center;
}

.content > div > div > div > div:last-child > span:first-child{
    font-size: 1.125rem;
    font-weight: 700;
    color: #303B59;
}

.content > div > div > div > div:last-child > span:last-child{
    font-size: 1.125rem;
    font-weight: 700;
    opacity: .5;
    color: #303B59;
}

.content > div > div:last-of-type{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.5rem;
    padding-bottom: 1.875rem;
}

.content > div > div:last-of-type > button{
    height: 3.5rem;
    background-color: #303B59;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 8rem;
    width: 100%;
}

@media screen and (min-width: 720px) {
    main{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #ECF2FF;
    }

    main > div{
        width: 51.12%;
        height: 32rem;
        display: flex;
        background-color: white;
        border-radius: 2rem;
        max-width: 46rem;
    }

    .header{
        min-width: 23rem;
        height: 100%;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header h1{
        font-size: 1.5625rem;
        font-weight: 700;
        margin-top: 2.375rem;
        line-height: 1.5;
    }

    .header > div{
        height: 12.5rem;
        width: 12.5rem;
    }

    .header > div > p:first-child{
        font-size: 4.5rem;
    }

    .header > div > p:last-child{
        font-size: 1.125rem;
        font-weight: 600;
    }

    .header > p:first-of-type{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1.75rem;
        line-height: 1.5;
    }

    .header > p:last-of-type{
        font-size: 1.125rem;
        font-weight: 500;
        margin-top: 1.0625rem;
        padding-bottom: 2.875rem;
    }

    .content > div > h2{
        font-size: 1.5625rem;
        font-weight: 700;
        margin-top: 2.375rem;
        line-height: 1.5;
    }

    .content > div > div:first-of-type{
        margin-top: 1.875rem;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .content > div > div:last-of-type{
        margin-top: 2.5625rem;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .content > div > div:last-of-type > button{
        cursor: pointer;
    }

    .content > div > div:last-of-type > button:hover{
        background: linear-gradient(to bottom, #7755ff, #2f2ce9);
    }

}